*{
    padding: 0;
    margin: 0;
}

body{
    background: #000000;
}

.cotaier{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff90;
    padding: 50px 60px 70px;
    text-align: center;
    backdrop-filter: blur(15px);
}

.cotaier h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

/* for the underlining */

.cotaier h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}